node_modules
npm-debug.log
.DS_Store
.env
.env.*
!.env.example
.prisma
.next
out
coverage
/dist
/apps/web/.next
/apps/web/out
/apps/server/dist
/apps/server/node_modules
/apps/web/node_modules
/tmp
/storage
